<!DOCTYPE html>
<hmtl>
    <%- include('./partials/head.ejs')  %>
    <body>
        <%- include('./partials/nav.ejs')  %>
        <div class='about content'>

            <h2> About Us </h2>
            <div>Enim sit ipsum ad sit mollit aliqua adipisicing nostrud. Est nulla sunt amet sint culpa ullamco. Qui officia ad consequat sunt. Exercitation nostrud nulla adipisicing esse est. Velit laboris voluptate nisi reprehenderit id proident. Aliquip est nisi pariatur proident veniam commodo laborum consequat excepteur adipisicing ex ex occaecat. Labore commodo reprehenderit sit eu adipisicing Lorem tempor.</div>
            <div>Ea ut mollit amet esse aute fugiat dolore nostrud Lorem eu. Deserunt non consectetur ea sunt exercitation Lorem ipsum duis ea. Do voluptate do nostrud cillum labore pariatur laborum pariatur nisi irure do. Excepteur nostrud velit fugiat dolor commodo dolor sit occaecat Lorem in in. Sint ad quis nulla non sit. Sint magna pariatur tempor deserunt nostrud consectetur in.</div>
            <div>Ea ut mollit amet esse aute fugiat dolore nostrud Lorem eu. Deserunt non consectetur ea sunt exercitation Lorem ipsum duis ea. Do voluptate do nostrud cillum labore pariatur laborum pariatur nisi irure do. Excepteur nostrud velit fugiat dolor commodo dolor sit occaecat Lorem in in. Sint ad quis nulla non sit. Sint magna pariatur tempor deserunt nostrud consectetur in.</div>
        </div>
        <%- include('./partials/footer.ejs')  %>
    </body>

</hmtl>
