<!DOCTYPE html>
<hmtl>
    <%- include('./partials/head.ejs')  %>
    <body>
        <%- include('./partials/nav.ejs')  %>
        <div class='about content'>

            <h2> About This Blog Example </h2>
            <br />
            <div>
                This blog example was built upon MVC principles using Node.js and Express for its server. <br />
                EJS is used to control the views and interact with dynamic information. <br />
                I used MongoDB NoSQL database directly from MongoDB Atlas to store the 'post' model at its 'blogs' collection. <br />
                You can create Posts at <strong><a href="/blogs/create">New Post</a></strong> page, which will make a POST request to the Node server, asking for this instanced post to be saved. <br />
                Any post created will be saved upon submit and will be instantly available for GET requests at the "homepage" a.k.a. feed. <br />
                You can also freely delete posts after opening their pages, where their information will be available to read. <br />
                <br />
                This whole application is deployed at Heroku for a live preview.
                It may take a few seconds to load the first time, as Heroku prevents resource waste making those 'hobby' servers asleep.
            </div>
        </div>
        <%- include('./partials/footer.ejs')  %>
    </body>

</hmtl>
